body {
  font-family: "Lato", sans-serif;
}

.font-20px {
  font-size: 20px;
  float: left;
}

.navbar {
  background-color: steelblue;
  height: 75px;
  font-size: 17px;
  padding-top: 0.9%;
}

li {
  padding-left: 9px;
  padding-right: 9px;
}

.navbar-brand {
  font-size: 25px;
}

.fa-plus-square {
  cursor: pointer;
}

a {
  color: ghostwhite !important;
  cursor: pointer;
}

li a:hover {
  background-color: darkslateblue !important;
}


.homepage {
  text-align: center;
  margin-top: 12%;
}

#hr-1 {
  width: 50em;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid steelblue;
  padding: 0;
}

#hr-2 {
  width: 40em;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid steelblue;
  padding: 0;
}

.panel-body {
  height: 435px;
}

.img-center {
  text-align: center;
}

#clothing-title {
  color: steelblue;
  text-align: center;
}

img {
  width: 230px;
  height: 260px;
}

.skateboard-add-btn{
  margin-top: -4.99em; 
  margin-left: 9.3em;
}

.backpack-add-btn{
  margin-top: -3.55em; 
  margin-left: 9.3em;
}

.shoe-add-btn{
  margin-top: -3.55em; 
  margin-left: 9.3em;
}

.shirt-add-btn{
  margin-top: -0.06em; 
  margin-left: 9.3em;
}

.pants-add-btn{
  margin-top: -0.06em; 
  margin-left: 9.3em;
}

.hoodie-add-btn{
  margin-top: -0.06em; 
  margin-left: 9.3em;
}

.hat-add-btn{
  margin-top: 2.08em; 
  margin-left: 9.3em;
}

/* Dropdown styles under this */

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  margin-top: .46em;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 108.82px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: steelblue;
}

.show {
  display: block;
}

.navbar a {
  background-color: steelblue;
  color: white;
  margin: 0;
}

.dropbtn:hover{
  background-color: darkslateblue !important;
}

.dropdown-content a:hover{
  background-color: darkslateblue !important;
}